SystemName=as40000.secure.domain.com
Password=XXXXXXX
ProfileName=NOVIAPP
SystemPath=/QSYS.LIB/%LIBL%.LIB/
ccsid=277
AS400Queue=/QSYS.LIB/QUEUE.LIB/QUEUE.DTAQ
NoviSystemKey=11111111111111111
NoviSystemSecret=2222222222222222222
NoviURI=https://platform.clearblade.com
NoviUser=queueHandler@clearblade.com
NoviPassword=XXXXXXX
NoviService=queueEvent